.viking-input-group-append {
  background-color: #cd3737 !important;
  background-image: url("./images/long2.png") !important;
  background-repeat: no-repeat;
  background-size: 50px;
  border: 1px solid #cd3737;
  svg {
    color: #fff;
  }
}